CONFIG_PROJECT_NAME="tuyatest"
CONFIG_PROJECT_VERSION="0.1.0"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_BOARD=y
CONFIG_TUYA_T5AI_BOARD_LCD_35565=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_VERSION_9=y
CONFIG_ENABLE_LVGL_TP=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_LV_FONT_SIMSUN_16_CJK=y
